div
{
	text-align: center;
	/*background-image: images/logos.png;*/
}

body { 
	/*background-image: url(images/logos.png);*/
	background-color: #ECECEC;
}

menu {
    width: 97%;
    background-color: #99141F;
	/*background-color: #111111;*/
    height: 50px;
	font-family: arial black;
	color: black;
}

div.menu {
	background-color: #111111;
}

img.logo_ball {
	float: left;
}

menu ul {
    width: 100%;
    display: block;
}

menu ul li {
    float: center;
    height: 50px;
    margin-right: 100px;
    line-height: 50px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

menu ul li a,
menu ul li a:visited,
menu ul li a:link {
    display: inline-block;
    text-decoration: none !important;
	color: #ECECEC;
	font-size: 200%;
	transition: all 0.2s ease-in-out;
}

menu ul li a:hover {
	color: #b1b1b1;
}

footer {
    width: 97%;
    background-color: #99141F;
    height: 100px;
	font-family: arial;
}

footer ul {
    width: 100%;
    display: block;
}

footer ul li {
    float: left;
    height: 100px;
    margin-right: 100px;
    line-height: 100px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

footer ul li a,
footer ul li a:visited,
footer ul li a:link {
    display: inline-block;
    text-decoration: none !important;
	color: white;
}

footer img {
	text-align: center;
	display: inline-block;
	margin: auto;
}

footer p {
	text-align: center;
	display: inline-block;
	margin: auto;
}

a.social {
	text-decoration: none;
}

a.techname {
	text-decoration: none;
	font-size: 130%;
	font-family: arial black;
	color: black;
}

img {
	display: block;
    margin: auto; 
}

.logo {
	width: 700px;
}

p.tech_name {
	text-align: left;
	font-family: arial black;
	font-size: 300%;
	/*background-color: #d66666;*/
	background: linear-gradient(-90deg, #ECECEC, #d66666);
	color: #24212d;
	position: relative;
}

p.description {
	text-align: left;
	margin-left: 50px;
	/*margin-top: 10px;*/
	font-family: arial;
	font-size: 150%;
}

.image_controller {
	position: relative;
	transition: all 0.2s ease-in-out;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.button {
	position: absolute; 
    top: 50%; 
    left: 50%;
}

.img_button {
	transition: all 0.2s ease-in-out;
	opacity: 0;
	height: 200px;
}

/*@keyframes appear {
	opacity: 1;
}*/

img.c_footstool {
	width: 400px;
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

img.c_pivot {
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
	height: 270px;
}

.image_controller:hover .c_footstool{
  opacity: 0.3;
  /*animation-name: appear;*/
}

.image_controller:hover .c_pivot{
  opacity: 0.3;
  /*animation-name: appear;*/
}

.image_controller:hover .img_button {
	opacity: 1;
}

.hidden_text {
	position: relative;
}

img.c_rar{
	height: 350px;
}

img.social{
	position: relative;
    top: 20px;
}

p.tabletypes{
	text-align: center;
	font-family: arial;
	font-size: 150%;
}

.tablepivot {
	text-align: center;
}

.tableb {
	text-align: center;
}

.tablerar {
	text-align: center;
}

.tableledge {
	text-align:center;
}

strongf {
	font-size: 130%;
	font-family: arial black;
}

strongdrop {
	font-size: 130%;
	font-family: arial black;
}

strongpivot {
	text-align: center;
	float: center;
	font-size: 130%;
	font-family: arial black;
}

table {
    border-collapse: collapse;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
	font-family: arial;
}
table.glossary td{
	border-style: solid;
	border-radius: 5px;
    border-width: 2px;
	border-color: black;
	font-family: arial;
	text-align: left;
	background-color: #FFFFFF;
}
table.glossary th {
	border-style: solid;
	border-radius: 5px;
    border-width: 2px;
    background-color: #D0EAFF;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: top;
}
table.techlist td {
	transition: all 0.2s ease-in-out;
}
td {
    padding-bottom: 5px;
    padding-left: 10px;
	padding-right: 10px;
    padding-top: 5px;
    vertical-align: top;
}
table.techlist td:hover {
    background-color: #bababa;
	animation-name: hover_table;
}
@keyframes hover_table {
    from {background-color: #ECECEC;}
    to {background-color: #bababa;}
}

td.glossary {
	border-style: solid;
	border-color: black;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: top;
}
td.term{
	font-weight: bold;
}



